<section id="main">
  <div class="container-fluid">
    <div class="header"><h1>Excavating Portugal</h1></div>
    <div class="wrapper">
      <div class="tile image1" ng-mouseenter="showTitle1 = 'title-show'; tileFade1 = 'tile-fade'" ng-mouseleave="showTitle1 = ''; tileFade1 = ''">
        <a href="{{ digs[0].anchor}}" >
          <img src="{{ digs[0].coverImage}}" class="img-responsive {{tileFade1}}">
          <div class="tile-descr {{showTitle1}}">
            <h3>{{ digs[0].name}}</h3>
          </div>
        </a>
      </div>
      <div class="tile image2" ng-mouseenter="showTitle2 = 'title-show'; tileFade2 = 'tile-fade'" ng-mouseleave="showTitle2 = ''; tileFade2 = ''">
        <a href="{{ digs[1].anchor}}">
          <img src="{{ digs[1].coverImage}}" class="img-responsive {{tileFade2}}">
          <div class="tile-descr {{showTitle2}}">
            <h3>{{ digs[1].name}}</h3>
          </div>
        </a>
      </div>
      <div class="tile image3" ng-mouseenter="showTitle3 = 'title-show'; tileFade3 = 'tile-fade'" ng-mouseleave="showTitle3 = ''; tileFade3 = ''">
        <a href="{{ digs[2].anchor}}">
          <img src="{{ digs[2].coverImage}}" class="img-responsive {{tileFade3}}">
          <div class="tile-descr {{showTitle3}}">
            <h3>{{ digs[2].name2}}</h3>
          </div>
        </a>
      </div>
      <div class="tile image4" ng-mouseenter="showTitle4 = 'title-show'; tileFade4 = 'tile-fade'" ng-mouseleave="showTitle4 = ''; tileFade4 = ''">
        <a href="{{ digs[3].anchor}}">
          <img src="{{ digs[3].coverImage}}" class="img-responsive {{tileFade4}}">
          <div class="tile-descr {{showTitle4}}">
            <h3>{{ digs[3].name2}}</h3>
          </div>
        </a>
      </div>
      <div class="tile image5" ng-mouseenter="showTitle5 = 'title-show'; tileFade5 = 'tile-fade'" ng-mouseleave="showTitle5 = ''; tileFade5 = ''">
        <a href="{{ digs[4].anchor}}">
          <img src="{{ digs[4].coverImage}}" class="img-responsive {{tileFade5}}">
          <div class="tile-descr {{showTitle5}}">
            <h3>{{ digs[4].name2}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>	
</section>