@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@keyframes bounce {
  50% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }
  80% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes swing {
  0% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px); } }

body {
  overflow-x: hidden; }

* {
  font-family: 'Libre Baskerville', serif; }

a {
  color: #1a73e8; }

img {
  max-width: 100%; }

hr {
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-top: medium solid #8c8c8c;
  color: #f2f2f2;
  text-align: center; }

.swing-ani {
  -webkit-animation: swing 0.4s linear infinite alternate;
  -moz-animation: swing 0.4s linear infinite alternate;
  -ms-animation: swing 0.4s linear infinite alternate;
  -o-animation: swing 0.4s linear infinite alternate;
  animation: swing 0.4s linear infinite alternate;
  display: inline-block; }

body {
  background-color: #242423;
  background-image: url("/img/background-texture.png"); }

body,
html {
  height: 100%;
  margin: 0 !important; }

.main-container {
  min-height: 100%; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
p {
  color: #f2f2f2; }

h1 {
  font-size: 2.5em;
  padding: 10px 0;
  text-align: center; }

p {
  font-size: 1.3em;
  text-align: justify; }

.wrapper {
  margin-bottom: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, auto);
  color: #444; }
  .wrapper .tile {
    display: inline-block;
    overflow: hidden; }
    .wrapper .tile img {
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
      -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
      transform: scale(1.04); }
    .wrapper .tile .tile-descr {
      position: relative;
      bottom: 20px;
      left: 20px;
      display: none;
      margin-right: 20px; }
      .wrapper .tile .tile-descr h3 {
        position: absolute;
        margin: 0;
        bottom: -10px; }

.tile:hover .tile-descr {
  display: block; }

.tile:hover img {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.cover {
  height: 100%;
  width: 100%;
  background-color: #000; }

.image1 {
  grid-column: span 4;
  grid-row: span 3; }

.image2 {
  grid-column: span 3;
  grid-row: span 3; }

.image3 {
  grid-column: span 3;
  grid-row: span 4; }

.image4 {
  grid-column: span 7;
  grid-row: span 3; }

.image5 {
  grid-column: span 3;
  grid-row: span 2; }

.back-to {
  height: 30px;
  width: 100px;
  margin: 20px;
  background-color: #3c3c3d;
  border-radius: 15px;
  border: 1px solid #f2f2f2; }

.back-to a {
  padding: 11px 14px;
  font-size: 20px;
  color: #f2f2f2; }

.dig-text {
  font-size: 1.3em; }

.slider-container {
  display: flex;
  align-items: center; }

.find-row {
  padding-bottom: 15px; }

.find-row h2 {
  padding-left: 15px; }

.find-tile {
  align-items: center;
  display: inline-block;
  padding-top: 100px;
  cursor: pointer; }
  .find-tile p {
    font-size: 17px;
    position: absolute;
    top: 0px;
    right: -60px;
    left: 60px;
    opacity: 0;
    -webkit-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms; }
  .find-tile img {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }

.find-tile:hover p {
  right: -40px;
  left: 40px;
  opacity: 1; }

.find-tile:hover img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15); }

#dig3,
#dig4,
#dig5 {
  display: none; }

#map {
  height: 450px;
  width: 100%;
  background-color: #fff;
  padding: 0 15px;
  opacity: 0.8; }

footer {
  height: 50px;
  border-top: 2px solid #f2f2f2; }

#copyright {
  margin-top: 15px; }

.social-media-link {
  padding-left: 10px;
  height: 40px; }

.social-media {
  margin-top: 5px;
  padding: 5px auto !important; }

.img-bounce:hover {
  -webkit-animation: bounce 0.8s linear infinite alternate;
  -moz-animation: bounce 0.8s linear infinite alternate;
  -ms-animation: bounce 0.8s linear infinite alternate;
  -o-animation: bounce 0.8s linear infinite alternate;
  animation: bounce 0.8s linear infinite alternate; }

@media (max-width: 900px) {
  .tile-descr h3 {
    padding-right: 40px; }
  .tile-descr {
    display: block; } }

@media (max-width: 800px) {
  .tile {
    border-radius: 0;
    grid-column: span 10; }
  .tile img {
    width: 100%; }
  .header {
    font-size: 0.8em; } }

@media (max-width: 600px) {
  .tile {
    border-radius: 0;
    grid-column: span 10; }
  .tile img {
    width: 100%; }
  h3 {
    font-size: 1.2em;
    font-weight: 700; } }

@media (min-width: 766px) {
  #copyright {
    float: right; }
  #copyright p {
    float: right;
    margin: 0; } }
