<section>
	<div class="container-fluid">
	  <div class="header"><h1>{{digs[whichItem].name}}</h1></div>
	</div>
	<br>
	<div class="container">
		<div class="row">
		  <div class="col-md-6">
		  	<p class="dig-text">{{digs[whichItem].text}}</p> 
		  	<h3>{{digs[whichItem].notice}} <a href="{{digs[whichItem].anchor2}}">{{digs[whichItem].link}}</a></h3>		  	
	    </div>
	    <div class="col-md-6">
	    	<div ng-repeat="image in digs[whichItem].images">
	        <img src="{{image.image1}}" class="img-responsive">
	      </div>
	      <br>
	      <div id="{{digs[whichItem].id}}">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4000">

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox" ng-repeat="image in digs[whichItem].images">
					    <div class="item active">
					      <img ng-src="{{image.image2}}" class="img-responsive">
					    </div>
					    <div class="item">
					      <img ng-src="{{image.image3}}" class="img-responsive">
					    </div>
					    <div class="item">
					      <img ng-src="{{image.image4}}" class="img-responsive">
					    </div>
					  </div>
						<span class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						</span>
						<span class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
						   <span class="glyphicon glyphicon-chevron-right"></span>
						</span>				  
					</div>
				</div>
	    </div>
<!-- 		  <div class="col-md-6" ng-repeat="sideImages in digs[whichItem].sideImages">
		    <div ng-repeat="sideImage in sideImages" class="dig-gallery">
		 	    <img src="{{sideImage}}" class="img-responsive">
		 	  </div>
		  </div> -->
		</div>
		<br>
		<div class="row" id="{{digs[whichItem].id}}">
			<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?&q=39.355422,-9.3813061&key=AIzaSyBbqgucg9T3X4a9MwtZvzYPYKNn-fg81nI&zoom=10" allowfullscreen></iframe>
		</div>
	</div>
	<div class="back-to"><a href="#main">&laquo; Back</a></div>
</section>