<section id="main">
  <div class="container-fluid">
    <div class="header"><h1>Excavating Portugal</h1></div>
    <div class="wrapper">
      <div class="tile image1">
        <a href="{{ digs[0].anchor}}"><img src="{{ digs[0].coverImage}}" class="img-responsive"></a>
        <div class="tile-descr descr1"><h3>{{ digs[0].name}}</h3></div>
      </div>
      <div class="tile image2">
        <a href="{{ digs[1].anchor}}"><img src="{{ digs[1].coverImage}}" class="img-responsive"></a>
        <div class="tile-descr descr2"><h3>{{ digs[1].name2}}</h3></div>
      </div>
      <div class="tile image3">
        <a href="{{ digs[2].anchor}}"><img src="{{ digs[2].coverImage}}" class="img-responsive"></a>
        <div class="tile-descr descr3"><h3>{{ digs[2].name2}}</h3></div>
      </div>
      <div class="tile image4">
        <a href="{{ digs[3].anchor}}"><img src="{{ digs[3].coverImage}}" class="img-responsive"></a>
        <div class="tile-descr descr4"><h3>{{ digs[3].name2}}</h3></div>
      </div>
      <div class="tile image5">
        <a href="{{ digs[4].anchor}}"><img src="{{ digs[4].coverImage}}" class="img-responsive"></a>
        <div class="tile-descr descr5"><h3>{{ digs[4].name2}}</h3></div>
      </div>
    </div>
  </div>	
</section>