<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head')-%>
</head>

<body>
  <section>
    <div class="container-fluid">
      <div class="header">
        <h1>Coming Soon</h1>
      </div>
      <br><br>
      <p>Details for this excavation aren't available yet. In the meantime please check out <a href="/afonso-albuquerque-peniche">Rua Afonso de Albuquerque, Peniche</a> or <a href="/praca-dom-luis-lisboa">Praça Dom Luís I, Lisbon</a>.</p>
      <br><br>
    </div>
  </section>

  <%- include('../components/footer')-%>

</body>

</html>