<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My archaeological excavations in Portugal">
<meta property="og:image" content="/img/image_1.jpg" />
<meta name="author" content="Jorge Parreira">
<title>Excavating Portugal</title>

<link rel="stylesheet" href="/css/bootstrap-grid.css">
<link rel="stylesheet" href="/css/swiper.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="shortcut icon" href="http://excavating-portugal.bitballoon.com/img/logo.png" type="image/x-icon" />

