<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="social-media">
          <a href="http://www.web-archaeologist.co.uk" target="_blank"><img src="img/webarch.png" class="social-media-link img-bounce"></a>
          <a href="https://www.linkedin.com/in/jorgefparreira" target="_blank"><img src="img/linkedin.png" class="social-media-link img-bounce"></a>
          <a href="https://github.com/Jorgefparreira/excavating-portugal" target="_blank"><img src="img/github-footer.png" class="social-media-link img-bounce"></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col" id="copyright"> 
        <p>&copyJorge Parreira <%= new Date().getFullYear() %></p>
      </div>
    </div> 
  </div> 
</footer>